/* Collaboration Carets & Labels Styles */

.collaboration-carets__caret {
  position: relative;
  border-left: 2px solid;
  border-right: 2px solid;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  word-break: normal;
}

.collaboration-carets__label {
  position: absolute;
  top: -1.4em;
  left: -2px;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
}

/* Editor Specific Styles */
.ProseMirror {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
